
/*
visual styling for the flashcard preview
*/

:root {
	--bg-color: white;
	
  }
  
  [data-theme="darkPreview"] {
	--bg-color: #738adb;
  }

.card_preview {
	background-color: var(--bg-color);
	border-radius: 8px;
	box-shadow: 2.5px 5px 5px rgba(0, 0, 0, 0.4);
	height: 150px;
	width: 300px;
	margin: 10px auto;
	/* Center Text */
	display: grid;
	place-items: center;
}

.card_preview_user_info {
	display:grid;
	place-items:center;
}
