
/*
visual styling for the flashcard
*/

:root {
	--bg-color: white;
	
  }
  
  [data-theme="darkFlashcard"] {
	--bg-color: #738adb;
  }
  
.card {
	background-color: var(--bg-color);
	border-radius: 8px;
	box-shadow: 2.5px 5px 5px rgba(0, 0, 0, 0.4);
	height: 275px;
	width: 550px;
	margin: 10px auto;
	/* Center Text */
	display: grid;
	place-items: center;
}

/*
For the text area of the card editor
*/
.cardEditor {
	height: 90%;
	width: 90%;
	resize: none;
}


