
.flash-grid {
	display: grid;
	gap: 1rem;
	margin-top:20px;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.flash-grid-item {
	
}

/* Styling for the profile page */
.profile {
	text-align: left;
	padding: 45px 20px;
	display:flex;
	font-size:24px;
	background-image: url("profile_background.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	color:white;
}

.profile img {
	border-radius:50%
}

.profileText {
	margin: auto 0;
	padding: 15px;
}
